.containerSlider {
  width: 600px;
  margin: 0 auto;

  list-style: none;
  padding: 0;
}
.containerSliderHome {
  width: 500px;

  list-style: none;
  padding: 0;
}

.slide > div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 500px;
}

.slide span {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: rgba(141, 174, 224, 0.5);
  text-align: center;
}
