.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  margin-top: 10%;
  margin-left: 10%;
}

.cpContainer {
  width: 400px;
  height: 380px;
  padding: 10px;
  background-color: #9b59b6;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100px;
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 100px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
textarea {
  margin-top: 1px;
}
